:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    background-color: #E6EFF6;
}

li {
    list-style: none;
    color: var(--Light-Gray);
    opacity: 0.9;
}

/* I'll follow a mobile first approach */
.wrapper {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

/* text container */
.text-container {
    flex: 1;
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 8px 8px 0 0;
}

.text-container h1 {
    color: var(--Cyan);
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

.text-light-green {
    color: var(--Bright-Yellow);
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.text-container p:nth-child(3) {
    color: var(--Grayish-Blue);
    line-height: 1.8;
    margin-bottom: 1rem;
}


/* info container */
.info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--Cyan);
    border-radius: 0 0 8px 8px;
}

.cta-section {
    flex: 1;
    padding: 1.2rem;
    margin: 0.4rem 0;
    
}

.cta-section h2 {
    color: var(--Light-Gray);
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.price {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--Light-Gray);
    margin-bottom: 0.8rem;
    display: inline-flex;
    align-items: center;
    
}

.price > span {
    font-size: 1rem;
    font-weight: 400;
    color: var(--Light-Gray);
    opacity: 0.7;
    margin-left: 0.9rem;
}

.full-access {
    color: var(--Light-Gray);
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.cta-button {
    background-color: var(--Bright-Yellow);
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    font-family: inherit;
    border: none;
    width: 100%;
    padding: 1rem 1.8rem;
    border-radius: 5px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    margin-bottom: 0.5rem;
}

.cta-button:hover { 
    background-color: hsl(133, 58%, 57%);
}

/* why us section */
.why-us {
    flex: 1;
    background-color: #4ABEBD;
    padding: 1.2rem;
    border-radius: 0 0 8px 8px;
}

.why-us h2 {
    color: var(--Light-Gray);
    font-size: 1.2rem;
    margin: 0.7rem 0 1.4rem 0;
}

.why-us-menu {
    margin-bottom: 0.8rem;
}

.why-us-menu li {
    margin-top: 0.6rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-bottom: 0.4rem;
}

.attribution a {
    font-family: inherit;
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

/* tablet */
@media (min-width: 530px) {
    .wrapper {
        max-width: 350px;
    }
}

/* pc version */
@media (min-width: 850px) {
    .wrapper {
        min-width: 650px;
        max-width: none;
    }

    /* text container */
    .text-container {
        padding: 2rem;
    }   
    .text-container h1 {
        font-size: 1.6rem;
        margin-bottom: 0.9rem;
    }
    
    .text-light-green {
        margin-bottom: 0.5rem;
    }

    /* info container */
    .info-container {
        flex-direction: row;
    }

    .cta-section {
        padding: 2rem;
    }

    .full-access {
        margin-bottom: 3rem;
    }

    .cta-button {
        margin-bottom: 0;
    }

    .why-us {
        padding: 2rem;
    }

    .why-us-menu li {
        font-size: 0.95rem;
        margin-top: 0.3rem;
    }
}